{% extends './base.html' %}

{% block title %} Login {% endblock %}

{% block body %}

{% block curtomCSS %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}} ">
{% endblock %}

<!doctype html>

  <form class="form-signin w-100 m-auto" action="/login" method="POST">
    <img class="mb-4" src="{{ url_for('static', filename='img/log.png') }}" alt="" width="72" height="57">

    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br/>
    {% for message in messages %}

    <div class="alert alert-primary alert-dismissible" role="alert">
      <strong> {{ message }} </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1 class="h3 mb-3 fw-normal">Ingrese sus credenciales</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      <label for="username">Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" placeholder="Password">
      <label for="password">Contraseña</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
  </form>

{% endblock %}